body {
  font-family: sans-serif;
}

.important {
  color: purple;
}
.unimportant {
  color: blue
}
.column {
  width: 500px;
  float: right;
}
.my-class {
  margin: 12px;
  width: 500px;
  border: 5px solid red;
  padding: 13px;
  background-color: pink;
}
.flex-container {
  flex-direction: row;
  display: flex;
}
.flex-container  img {
margin: 0px;

}

.flex-column img {
  margin: 0px
  float: center
}
.courier {font-family: Courier;}
